body {
	margin: 0;
	padding: 0;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../img/background5.png);
	background-repeat: no-repeat;
    background-size: cover;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.logo{
    width: 4vw;
    height:4vw;
    position: relative;
    left: 2vw;
}

.nav{
    font-size:1.5vw;
    background-color: rgba(0, 0, 0, 0.158);
    
}

.lnav{
    position: relative;
    left: 7vw;
    color:  rgb(32, 32, 32);
    text-decoration: none;
    font-size: 2vw;
    float: none;
    top: -1vw;
}

.lnav:hover{
    color: rgb(95, 20, 20);
    transition: 1s;
}

.rnav{
    position: relative;
    left:31vw;
    color:  rgb(32, 32, 32);
    text-decoration: none;
    font-size: 2vw;
    float: none;
    top: -1vw;
}

.rnav:hover{
    color: rgb(95, 20, 20);
    transition: 1s;
}

.rnav1{ /** rules**/
    position: relative;
    left:34vw;
    color: rgb(32, 32, 32);
    text-decoration: none;
    text-align: center;
    margin-top: -4vw;
    font-size: 2vw;
    top: -1vw;
}

.rnav1:hover{
    color: rgb(95, 20, 20);
    transition: 1s;
}

.rnav2{ /** about us **/
    position: relative;
    left:37vw;
    color: rgb(32, 32, 32);
    text-decoration: none;
    top: -1vw;
    font-size: 2vw;
}

.rnav2:hover{
    color: rgb(95, 20, 20);
    transition: 1s;
}

.text{
	text-align: center;
	font-size: 3vw;
	color: rgb(134, 10, 72);
}

.wrapper {
	background-color: transparent;
	width: 666px;
	padding: 30px;
	margin: 30px auto;
	position: relative;
}

.row {
	height: 200px;
	width: 100%;
}

.row-02 {
	height: 206px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.square {
	width: 200px;
	height: 200px;
	float: left;
	line-height: 200px;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
}

.square-01,
.square-04,
.square-07 {
	width: 206px;
	border-left: 3px solid black;
	border-right: 3px solid black;
}