*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../img/background-c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-2{
    position: fixed;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    bottom: -200px;
}

/*      NAVBAR      */
.logo{
    width: 4vw;
    height:4vw;
    position: relative;
    left: 2vw;
}

.nav{
    font-size:1.5vw;
    background-color: rgba(0, 0, 0, 0.158);
    
}

.rnav{
    position: relative;
    left:51vw;
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-size: 2vw;
    float: none;
    top: -1vw;
}

.rnav:hover{
    color: rgb(95, 20, 20);
    transition: 1s;
}

.rnav1{ /** rules**/
    position: relative;
    left:54vw;
    color: rgb(218, 218, 218);
    text-decoration: none;
    text-align: center;
    margin-top: -4vw;
    font-size: 2vw;
    top: -1vw;
}

.rnav1:hover{
    color: rgb(95, 20, 20);
    transition: 1s;
}

.rnav2{ /** about us **/
    position: relative;
    left:57vw;
    color: rgb(218, 218, 218);
    text-decoration: none;
    top: -1vw;
    font-size: 2vw;
}

.rnav2:hover{
    color: rgb(95, 20, 20);
    transition: 1s;
}

.text{
    text-align: center;
    font-size: 4vw;
    color: white;
    margin-top: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.text1{
    margin-top: 3vw;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
ul {
    list-style-type: none;
}