*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../img/background-c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-2{
    position: fixed;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    bottom: -200px;
}

.logo{
    width: 60px;
    height: 60px;
    position: relative;
    left: 20px;
}

.nav{
    background-color: rgba(0, 0, 0, 0.158);
    position: sticky;
}

.rnav{
    position: absolute;
    left: 57%;
    margin-top: 12px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.rnav:hover{
    color:  rgb(124, 73, 43);
    transition: 1s;
}

.rnav1{
    position: absolute;
    left: 79%;
    color: white;
    text-decoration: none;
    margin-top: 12px;
    font-size: 30px;
}

.rnav1:hover{
    color: rgb(124, 73, 43);
    transition: 1s;
}

.rnav2{
    position: absolute;
    left: 88%;
    color: white;
    text-decoration: none;
    margin-top: 12px;
    font-size: 30px;
}

.rnav2:hover{
    color: rgb(124, 73, 43);
    transition: 1s;
}

.text{
    text-align: center;
    font-size: 80px;
    color: white;
}

.text1{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: white;
}